body{
width: 1020px}
h1{
    font-size: 1px}

    header{
        margin-top: 0px;
        height: 89px;
        background-color: #2d303a;
        position: relative;
    }
  /*  .menu{
        margin-top: 55px;
    }*/
    .logo{
        position: absolute;
        display: inline-box;
        margin-top: 35px;
        margin-left: 39px;
    
    }
    li{
        color: white;
        display: inline-box;
        float: right;
        margin: 5px;
        margin-top: 35px;
    }
    .active{
        color:#f06c64;
        display: inline;
    }
    .header_bottom{
        position: absolute;
        margin-top: 78px;
    }
    .phone_vertical{
        position: relative;
        width:100%;

    }
.shadow_vert{
    margin-top: 40px;
    margin-left: 112px;
    position: absolute;

}
.base_vert{
    margin-top: 40px;
    margin-left: 112px;
    position: absolute;
    opacity: 1;
    width: 215px;
    height: 458px;
    
      }
      .screen_vert{
        margin-top: 105px;
        margin-left: 122px;
        opacity: 1;
        position: absolute;
              
              }
      .layer_5{
        margin-top: 110px;
        margin-left: 125px;
        position: absolute;
        width: 190px;
        height: 335px;
        
        }
        .slider{
            height: 600px;
            position: relative;
            background-color: #ea676b;
        }

.phone_horiz{
    position: relative;
    }
 
.layer_6{
       margin-top: 200px;
    margin-left: 450px;
    position: absolute;
    height: 190px;
        width: 335px;
}
.shadow_horiz{
    margin-top: 190px;
     margin-left: 400px;
     transform: rotate(180deg);
     position: absolute;
      }

.base_horiz{
   margin-top: 67px;
    margin-left: 510px;
    transform: rotate(90deg);
    position: absolute;}

.screen_horiz{
        margin-top: 125px;
        margin-left: 520px;
       transform: rotate(90deg);
        opacity: 1;
        position: absolute;
       }
.button_left{
    margin-top: 300px;
    margin-left: 40px;
    position: absolute;
}
.button_rigth{
    margin-top: 300px;
    margin-left: 990px;
    position: absolute;
}
.our_cervices{
    height: 500px;
    margin-top: 0px;
    background-color: white;
}
.icons li{
    color: black;
    display: flex;
}